{% extends "bets/base.html" %}

{% load form_filters %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

{% endblock %}

{% block title %}Crea tu desafio{% endblock %}

{% block content %}

<section class="section is-large">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box has-background-info">
                    <h2 class="title is-3 has-text-centered mb-5">Crea un nuevo Desaf&iacute;o</h2>
                    
                    {% if messages %}
                        {% for message in messages %}
                            <div class="notification is-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <!-- Field with Non-Field Errors -->
                    {% if form.non_field_errors %}
                    <div class="notification is-danger">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">
                                {{ form.title.label_tag }}
                                {% if form.title.errors %}
                                    <span class="has-text-danger">*</span>
                                {% endif %}
                            </label>
                            <div class="control">
                                {{ form.title|add_class:"input" }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                {{ form.deadline.label_tag }}
                                {% if form.deadline.errors %}
                                    <span class="has-text-danger">*</span>
                                {% endif %}
                            </label>
                            <div class="control">
                                {{ form.deadline }}
                            </div>
                            {% if form.deadline.errors %}
                            <p class="help is-danger">
                                {% for error in form.deadline.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>

                        <div class="field">
                            <label class="label">{{ form.description.label_tag }}</label>
                            <div class="control">
                                {{ form.description|add_class:"textarea" }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                {{ form.image.label_tag }}
                                {% if form.image.errors %}
                                    <span class="has-text-danger">*</span>
                                {% endif %}
                            </label>
                            <div class="control">
                                {{ form.image|add_class:"file-input" }}
                                <span class="file">
                                    <label class="file-label">
                                        {{ form.image }}
                                    </label>
                                </span>
                            </div>
                            <p class="help">La imagen debe ser menor a 300KB</p>
                            {% if form.image.errors %}
                            <p class="help is-danger">
                                {% for error in form.image.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>

                        <div class="field">
                            <label class="checkbox">{{ form.is_public|add_class:"checkbox" }} {{ form.is_public.label_tag }}</label>
                        </div>
                        
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary is-fullwidth">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{# Optional: Add some custom CSS for hover effect #}
<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.06);
    }
</style>

{% endblock %}
