{% extends "base.html" %}

{% block title %}{% trans "About" %}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="box has-background-primary-light">
                    <h1 class="title is-2 has-text-primary mb-4">{% trans "About Chommies" %}</h1>
                    <div class="content">
                        <p class="has-text-primary">
                            {% trans "Chommies is your premier platform for creating and participating in exciting betting events. We provide a safe, secure, and user-friendly environment for all your betting needs." %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} 